#chart-calorie .column {
    height: 450px;
    max-width: 400px;
}

#chart-calorie tbody {
    overflow-y: hidden;
    padding: 30px;
    box-shadow: inset -5px -5px 10px rgb(0 0 0 / 50%), 5px 5px 5px rgb(0 0 0 / 50%);
    min-width: 150px;
    background: #fff9f1;
    border: #FFC700 6px solid;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#chart-calorie tbody td {
    margin-inline: 10px;
    border-radius: 10px;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5), 5px 5px 5px rgba(0, 0, 0, .5);
}

#chart-calorie tbody th {
    color: rgb(0, 0, 0);
}
.data {
    color: #FFF;
}

#chart-calorie th {
    animation: spin-labels 4s linear;
}

@keyframes spin-labels {
    0% {
        transform: rotateX(0deg);
    }

    20% {
        transform: rotateX(360deg);
    }

    60% {
        transform: rotateX(360deg);
    }
}