/* Salut */
html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --bg: #343A40;
    --yel: #FFC700;
    --light: #E8F0FE;
    --grey: #7C7C7C;
    --red: #ff0033;
    --casegrey: #d9d9d9;
}

body {
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;

}

.start-container {
    background-color: var(--bg);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    animation: anim-start 2s;
    animation-iteration-count: 1;
}

#chart-calorie {
    animation: anim-hidden-start 2s;
    animation-iteration-count: 1;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

@keyframes anim-hidden-start {
    from {
        visibility: hidden;
    }

    to {
        visibility: hidden;
    }
}

.container-logo-start {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.container-logo-start-connexion {
    animation: anim-end 0.8s forwards reverse;
    animation-delay: .8s;
    animation-iteration-count: 1;
}

.container-logo-start-index {
    animation: anim-end-index 0.8s forwards reverse;
    animation-delay: .8s;
    animation-iteration-count: 1;
}

@keyframes anim-start {
    0% {
        visibility: visible;
    }

    69% {
        opacity: 1;
    }

    70% {
        opacity: 0.5;
    }

    90% {
        visibility: hidden;
        opacity: 0;
    }
}

.container-inscription .container-link div:last-child {
    border-top: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-connexion .container-link div:last-child {
    border-top: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C757D;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    animation: anim-hidden-start 1.4s;
    animation-iteration-count: 1;
}

footer svg {
    width: 50px;
    height: auto;
}

footer svg:hover {
    animation: anim-svg 2s infinite linear;
}

@keyframes anim-svg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.error {
    color: var(--red);
    font-weight: bold;
}

.valid {
    color: green;
    font-weight: bold;
}

/***** navbar *****/
.logo-nav img {
    width: 60px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-nav button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--bg);
    border: 1px solid var(--yel);
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    transition: box-shadow cubic-bezier(0.6, -0.28, 0.74, 0.05) .7s;
}

.btn-nav button i {
    color: var(--grey);
    transition: color .7s;
}

.btn-nav button:hover {
    box-shadow: 0px 0px 7px 5px #ffc700b5;
}

.btn-nav button:hover i {
    color: var(--yel);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey);
}

nav h1 {
    color: var(--yel);
    font-family: 'Grenze', sans-serif;
    font-size: 3rem;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 1em;
}

.btn-nav {
    margin-right: 1em;
}

/***** PAGE inscription.php *****/
.form-inscription .form form {
    padding: 1rem;
}

.form-inscription .form {
    padding: 6% 13% 5%;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.container-index-inscription {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.container-logo-inscription {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-right: 1px solid rgba(124, 124, 124, 0.75);
    margin-top: 20vh;
}

.radio-container {
    display: flex;
    justify-content: center;
}

.btn-check {
    opacity: 0;
    position: fixed;
    width: 0;
}

.btn-check:checked+.labelradio {
    transition: all 0.2s ease-out;
    background-color: rgb(255, 246, 122);

}

.labelradio {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.4);
}

.labelr1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.labelr2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.labelradio:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.line {
    border-right: 1px solid #000000;
}

.icony {
    color: var(--yel);
}

.iconx {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    padding-left: 25px;
}

.iconx2 {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    padding-left: 10px;
}

.confirmer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.4);
    width: 70%;
    border-radius: 25px;
    border: solid 2px rgba(0, 0, 0, 0.4);
    height: 2.2em;
    background-color: var(--casegrey);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.confirmer:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.confirmer:active,
.confirmer:active .iconx,
.confirmer:active .iconx2 {
    transition: all 0.2s ease-out;
    border-color: #FFC700;
    color: #FFC700;
}

.link2 {
    margin-top: 1%;
}

.form-inscription2 {
    width: 50%;
}

.form-inscription {
    margin-top: 5vh;
}

.input-field-inscription {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--casegrey);
    border: none;
    border-left: 1px solid var(--bg);
    border-radius: 0 1em 1em 0;
    color: black;
    padding-right: 5em;
}

.input-field-inscription:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px var(--casegrey) inset;
}

.container .container-link .linkinscription {
    height: 100%;
    width: 25%;
    margin: 45px auto 0;
}

.icon-inscription {
    padding: 10px;
    background: var(--casegrey);
    color: var(--yel);
    min-width: 50px;
    text-align: center;
    border-radius: 1em 0 0 1em;
}

@media screen and (max-width: 2000px) and (min-width: 1536px) {
    .form-inscription {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-height: 820px) and (min-width: 1537px) {
    .container .container-link .linkinscription {
        margin: 35px auto 0;
    }
}

@media screen and (max-height: 800px) and (min-width: 1537px) {
    .container .container-link .linkinscription {
        margin: 25px auto 0;
    }
}

@media screen and (max-height: 790px) and (min-width: 1537px) {
    .container .container-link .linkinscription {
        margin: 15px auto 0;
    }
}

@media screen and (max-height: 780px) and (min-width: 1537px) {
    .container .container-link .linkinscription {
        margin: 5px auto 0;
    }
}

@media screen and (max-height: 768px) and (min-width: 1537px) {
    .container .container-link .linkinscription {
        margin: 0 auto 0;
    }
}

@media screen and (max-width: 1536px) and (min-width: 720px) {
    .form-inscription {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-field-inscription {
        width: 85%;
        padding: 8px;
    }

    .icon-inscription {
        padding: 8px;
    }

    .confirmer-inscription {
        height: 1.8em;
    }

    .labelradio-inscription {
        padding: 5px 39px;
    }

    .container-inscription .container-link div {
        margin: 45px auto 0;
    }

    .link2 {
        margin-top: 0%;
    }
}

@media screen and (max-width: 1000px) {
    .form-inscription .form {
        padding: 6% 10% 5%;
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
}

@media screen and (max-width: 900px) and (min-width: 720px) {
    .container-inscription .container-link .lineinscription {
        width: 25%;
    }

    .form-inscription .form {
        padding: 6% 2% 5%;
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
}

@media screen and (max-height: 800px) {
    footer {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 719px) {
    .labelradio {
        padding: 10px 0;
        width: 100%;
    }

    .container-index-inscription {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-logo-inscription {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-right: none;
        border-bottom: 1px solid rgba(124, 124, 124, 0.75);
        margin-top: 5vh;
        padding-bottom: 2vh;
    }

    .img-logo {
        width: 140px;
    }

    .container-inscription .container-link .linkinscription {
        width: 25%;
        margin: 50px 100% 0px;
        border-top: 1px solid var(--grey);
        display: flex;
        flex-direction: column-reverse;
    }

    .container-inscription .container-link div:last-child {
        border-top: 1px solid var(--grey);
        display: flex;
        flex-direction: column-reverse;
    }

    .link2 {
        justify-content: center;
    }

    .container-inscription .container-link a:last-child {
        width: 94px;
    }

    .iconx {
        display: none;
    }
}

@media screen and (max-width: 615px) {
    .input-field-inscription {
        padding-right: 0;
    }
}

/***** PAGE connexion.php *****/
.title {
    color: var(--yel);
    font-family: 'Grenze', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.container-login {
    padding-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-right: 1px solid rgba(124, 124, 124, 0.75);
}

.container-form {
    width: 50%;
    display: flex;
    justify-content: center;
}

.container-form .form {
    padding: 6% 13% 5%;
    /* border: 1px solid white; */
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.container-form .form form {
    padding: 1rem;
}



.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.icon {
    padding: 10px;
    background: var(--light);
    color: var(--yel);
    min-width: 50px;
    text-align: center;
    border-radius: 1em 0 0 1em;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--light);
    border: none;
    border-left: 1px solid var(--bg);
    border-radius: 0 1em 1em 0;
    color: black;
    padding-right: 5em;
}

.btn-confirm {
    margin: 0 auto 0;
    padding: .5rem 1rem;
    border-radius: 1em;
    outline: none;
    border: 1px solid var(--bg);
    margin-top: 1rem;
    transition: .5s ease-in;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

.btn-confirm:hover {
    cursor: pointer;
    background-color: var(--bg);
    color: var(--yel);
    border: 1px solid var(--light);
}



.container .container-link {
    width: 100%;
    height: 1px;
    display: flex;
}

.container-inscription .container-link div {
    height: 100%;
    width: 25%;
    margin: 0 auto;
}

.container-connexion .container-link div {
    height: 100%;
    width: 25%;
    margin: 0 auto;
}

.container .container-link a:first-child {
    color: var(--grey);
    text-decoration: none;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease-out;
}

.container .container-link a:last-child {
    color: var(--light);
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    /* text-shadow: 2px 4px 3px #000000; */
    transition: all 0.5s ease-out;
}

.container .container-link a:hover {
    text-decoration: underline;
}

.container .container-link a:first-child:hover {
    color: var(--light);
}

.container .container-link a:last-child:hover {
    color: var(--yel);
}

/***** PAGE : index.php *****/
.title-imc-text {
    background: #6C757D;
    border-radius: 50px;
    padding: 14px 31px 14px 61px;
    margin-left: 50px;
    min-width: 325px;
}

.title-imc {
    font-size: 1.5rem;
    padding-top: 1.4rem;
    color: white;
}

.container-index {
    text-align: center;
    margin-top: 2em;
    width: 100%;
    animation: anim-hidden-start 2s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2em;
}

.container-index h2 span:first-child {
    border: 1px solid var(--light);
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    padding: 1rem;
    background-color: var(--red);
}

.container-index h2 span:last-child {
    background-color: green;
    padding: 1rem;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

.container-index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
}

.container-index-title h2 {
    margin-right: 1rem;
    background-color: red;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-right: 10em;
}

.container-index-title h3 {
    color: var(--light);
}

.input-br-none {
    border-radius: 0.375em 0px 0px 0.375em;
    padding: 10px;
}



@media screen and (max-width: 900px) and (min-width: 701px) {
    .container-login {
        flex-direction: column;
        gap: 3rem;
        padding-top: 8vh;
    }

    .iconmdpoublie {
        display: none;
    }

    .input-field-inscription {
        padding-right: 0;
    }

    .container-form .form {
        width: 100%;
    }

    .container-logo {
        border-bottom: 1px solid rgba(124, 124, 124, 0.75);
        border-right: none;
        padding-bottom: 2vh;
    }

    .container-form {
        border: none;
    }

    .container .container-link .lineconnexion {
        display: none;
    }

    .container .container-link-inscription {
        justify-content: center;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 700px) and (min-width: 305px) {
    .container-login {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        padding-top: 10vh;
    }

    .form-inscription2 {
        width: 90%;
    }

    .container-form {
        border: none;
        width: 100%;
    }

    .container-logo {
        margin-top: 2rem;
        border-right: none;
        border-bottom: 1px solid rgba(124, 124, 124, 0.75);
        padding-bottom: 2vh;
    }

    .container-form .form form {
        padding-bottom: 0;
    }

    .container-form .form {
        box-shadow: none;
        width: 100%;
    }

    .container-inscription .container-link div:last-child {
        border-top: none;
    }

    .container-connexion .container-link div:last-child {
        border-top: none;
    }

    .container .container-link .lineconnexion {
        height: 0;
        width: 0;
        margin: 0;
    }

    .container-link div:last-child {
        margin: 0 auto;
        width: 100%;
    }

    .linkinscription {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .container-login {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        padding-top: 10vh;
    }

    .container-logo {
        width: 100%;
        margin-bottom: 1rem;
    }

    .container-form .form {
        box-shadow: none;
        width: 100%;
        padding: 1rem 0;
    }

    .container-form {
        border: none;
        width: 100%;
    }

    .container-inscription .container-link div:last-child {
        border-top: none;
    }

    .container-connexion .container-link div:last-child {
        border-top: none;
    }

    .container .container-link .lineconnexion {
        height: 0;
        width: 0;
        margin: 0;
    }

    .container-link div:last-child {
        margin: 0 auto;
        width: 100%;
    }
}

/* mdp oublie */
.pmdpoublie {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
}

.container-mdpoublie .container-link div {
    height: 100%;
    width: 25%;
    margin: 1.5% auto;
}

.input-field-mdpoublie {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--casegrey);
    border: none;
    border-left: 1px solid var(--bg);
    border-radius: 0 1em 1em 0;
    color: black;
    padding-right: 5em;
}

@media screen and (max-width: 900px) and (min-width: 701px) {
    .input-field-mdpoublie {
        padding-right: 0;
    }
}

@media screen and (max-width: 304px) {
    .title {
        font-size: 31px;
    }

    .form-inscription2 {
        width: 85%;
    }

    .form-inscription .form form {
        padding: unset;
    }
}

.absolute-IMC {
    position: absolute;
    margin-right: 15em;
    margin-top: 3em;
    color: white;
}

.Container-caption {
    min-width: 122px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Grenze';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 720px) {
    .container .container-link {
        height: 140px;
    }

    footer {
        height: 70px;
    }
}

@media screen and (max-width: 719px) {
    footer {
        height: 70px;
    }

    .container .container-link {
        width: 100%;
        height: 140px;
        display: flex;
    }

    .container-inscription .container-link .linkinscription {
        margin-right: unset;
        margin-top: unset;
        margin-left: unset;
        height: 50px;
    }

    .container-inscription .container-link .lineinscription {
        height: unset;
        margin: unset;
        width: unset;
    }
}

.footer-instant {
    animation: anim-hidden-start 0;
    animation-iteration-count: 1;
}

.anim-logo {
    animation: logo-hidden 3.1s;
}

@keyframes logo-hidden {
    0% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    50% {
        opacity: 0.1;
    }
}

.space-after-graph {
    width: 100%;
    height: 100px;
}

td {
    max-height: 21em;
}

.profil-button {
    border: none;
    background: none;
}

.identity-card {
    width: 10em;
    filter: invert(50%) sepia(2%) saturate(84%) hue-rotate(2deg) brightness(97%) contrast(100%) drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.identity-card:hover {
    filter: invert(82%) sepia(69%) saturate(4999%) hue-rotate(356deg) brightness(102%) contrast(109%) drop-shadow(3px 5px 2px #00000066);
}

.play1 {
    filter: invert(82%) sepia(69%) saturate(4999%) hue-rotate(356deg) brightness(102%) contrast(109%) drop-shadow(3px 5px 2px #00000066);
    animation: anim-identity 1s forwards;
    width: 10em;
}

.play2 {
    animation: anim-display 0.5s forwards;
    background: white;
    margin-left: 3em;
    width: 15em;
    height: 15em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 4em;
    position: absolute;
    margin-left: 13em;
}

@keyframes anim-display {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes anim-identity {
    0% {
        transition: all 1s;
    }

    100% {
        transform: scale(1.3);
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.menu-profil {
    animation: anim-display 2s forwards;
    display: flex;
    color: white;
    margin-top: 2em;
    width: 15em;
    height: 15em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 4em;
    display: none;
    position: absolute;
    margin-left: 13em;
}

.container-zidane {
    display: inline-flex;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.p-profil {
    text-align: start;
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.container-graphic {
    box-shadow: 0px 4px 21px rgb(0 0 0 / 25%);
    width: fit-content;
    margin: 0 auto;
    padding: 5px 30px 30px 30px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: anim-hidden-start 2s;
}

th {
    font-size: 12px;
}

@media screen and (max-width: 925px) {
    #chart-calorie tbody {
        overflow-y: hidden;
        width: inherit;
    }

    #chart-calorie tbody th {
        font-size: 9px;
    }

    .container-graphic {
        width: 20em;
    }

    #chart-calorie tbody td {
        width: 3em;
    }
}

@media screen and (max-width: 500px) {
    nav h1 {
        display: none;
    }

    .container-index-title {
        margin-right: 0px;
    }

    .container-index-title h2 {
        margin-right: 0px;
        position: unset;
    }

    .absolute-IMC {
        margin-right: 0px;
    }

    .title-imc-text {
        display: none;
    }

    .menu-profil {
        position: unset;
        margin-left: 0em;
    }

    .container-zidane {
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
}

@media screen and (max-width:350px) {
    .container-graphic {
        width: 16em;
    }
}

@media screen and (max-width:260px) {
    .charts-css.show-heading caption {
        font-size: 1.55em;
    }

    .container-graphic {
        width: 13em;
    }

    .btn-nav {
        margin-right: 0px;
        display: contents;
    }

    .play1 {
        animation: anim-identity2 1s forwards;
        ;
    }
}

@keyframes anim-identity2 {
    0% {
        transition: all 1s;
    }

    100% {
        transform: scale(1.15);
    }
}

.icono {
    margin-top: 1em;
    color: #7c7c7c;
}

.titre-profil {
    font-family: "Grenze";
    font-size: 2em;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 75%);
    color: white;
}