* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #343A40;
    --yel: #FFC700;
    --light: #E8F0FE;
    --grey: #7C7C7C;
}

body {
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;

}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C757D;
}

footer svg {
    width: 50px;
    height: auto;
}

/***** PAGE connexion.php *****/

.title {
    color: var(--yel);
    font-family: 'Grenze', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    
}

.container {
    height: 90vh;
}

.container-index {
    padding-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container-logo img {
    width: 33%;
    height: auto;
}

.container-form {
    width: 50%;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(124, 124, 124, 0.75);
}

.container-form .form {
    padding: 6% 13% 5%;
    /* border: 1px solid white; */
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.container-form .form form {
    padding: 1rem;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.icon {
    padding: 10px;
    background: var(--light);
    color: var(--yel);
    min-width: 50px;
    text-align: center;
    border-radius: 1em 0 0 1em;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--light);
    border: none;
    border-left: 1px solid var(--bg);
    border-radius: 0 1em 1em 0;
    color: var(--grey);
    padding-right: 5em;
    
}

.btn-confirm {
    padding: .5rem 1rem;
    border-radius: 1em;
    outline: none;
    border: none;
    margin-top: 1rem;
    transition: .5s ease-in;
}

.btn-confirm:hover {
    cursor: pointer;
    background-color: green;
    color: var(--light);
}

.container .container-link {
    width: 100%;
    height: 1px;
    display: flex;
}

.container .container-link div {
    height: 100%;
    width: 25%;
    margin: 0 auto;
}

.container .container-link div:last-child {
    border-top: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .container-link a:first-child {
    color: var(--grey);
    text-decoration: none;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease-out;
}

.container .container-link a:last-child {
    color: var(--light);
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    /* text-shadow: 2px 4px 3px #000000; */
    transition: all 0.5s ease-out;
}

.container .container-link a:hover {
    text-decoration: underline;
}

.container .container-link a:first-child:hover {
    color: var(--light);
}

.container .container-link a:last-child:hover {
    color: var(--yel);
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
    .container-logo {
        width: 35%;
    }

    .container-logo img {
        width: 45%;
    }
    
    .container-form {
        width: 65%;
    }
}

@media screen and (max-width: 900px) and (min-width: 701px) {
    .container-index {
        flex-direction: column;
        gap: 3rem;
    }
    .container-form {
        border: none;
    }
    .container .container-link div:first-child {
        display: none;
    }
    .container .container-link {
        justify-content: center;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 700px) and (min-width: 200px) {
    .container-index {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
    }
    .container-form {
        border: none;
        width: 100%;
    }
    .container-logo {
        margin-top: 2rem;
    }

    .container-form .form {
        box-shadow: none;
        width: 100%;
    }
    .container .container-link div:last-child {
        border-top: none;
    }
}